.data-header{ 
    font-size: 36px; 
    font-weight: 400;
    
}

.data-text{
    font-size: 36px; 
    font-weight: 200;
}

.data-subtext{
    font-size: 24px;
    font-weight: 200;
}

.driver-image{
    min-width: 100px;
    min-height: 250px;
    max-height: 250px;
}

.circuit-image{
    min-width: 100px;
    max-width:200px;
    min-height: 100px;
}

.row {
	margin-bottom:20px;
}