img {
    display: inline-block;
    border-radius: 8px;
    float: right;
    margin: 10px 20px 10px 20px;
}

.row {
    /* border-radius: 8px; */
    margin: 10px 20px 10px 0px;
}

.instance-header{
    border-bottom: 1px solid black;
}

.data-header{ 
    font-size: 36px; 
    font-weight: 400;
    
}

.data-text{
    font-size: 36px; 
    font-weight: 200;
}

.data-subtext{
    font-size: 24px;
    font-weight: 200;
}

.list-element{
    font-size: 30px;
    font-weight: 200;
}

ul{
    list-style-type: none; 
    padding-left: 0;
}

li{
    padding-left: 0;
}

thead{
    background-color: #dc3546;
    /* same as "navbar" */
    color:white;
}

th{
    font-weight: 600;
}
