
{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/circuits-model.css')}}">
{% endblock %}

{% block body %}
<!--
    Requirements:
    - Overview of each model
    - Grid of instances
    - grid instances require:
        - image
        - 3 or more attributes
        - link to the instance page
        - 9 instances per page
        - allows for searching, sorting, and filtering
-->
<div class="container my-5">
  <div class="searchbar">
    <form action="/models_circuits" method="get">
      <label for="filtered">Search circuits by:</label>
      <select id="filtered" name="filtered" required="required">
        <option value="">Select Filter</option>
        <option value="name">Name</option>
        <option value="location">Location</option>
        <option value="most_recent_race">Most Recent Race</option>
      </select>
      <label for="sort">Sorted by:</label>
      <select id="sort" name="sort">
        <option value="relevance">Relevance</option>
        <option value="alpha">Alphabetical (A-Z)</option>
        <option value="reverse_alpha">Reverse Alphabetical (Z-A)</option>
      </select>
      <br>
      <input id="search" class="col-6" type="text" name="search" placeholder="Enter a query ..." required="required">
      <button type="submit">Submit</button>
    </form>
    <br>
  </div>

  {% if circuits %}
  {% set index = 0 %}
  {% for i in range((circuits|length)|int) %}
  <div class="row justify-content-center">
    <div class="cards">
      {% for j in range(2) %}
        {% if circuits|length > 2*i+j %}
          {% set imgurl = url_for('static', filename=circuits[2*i+j]['imgpath']) %}
          <!--Card template from https://codepen.io/veronicadev/pen/WJyOwG-->
          <article class="card card--1">
          <div class="card__img" style="background-image: url({{imgurl}})"></div>
          <a href={{circuits[2*i+j]['link']}} class="card_link">
            <div class="card__img--hover" style="background-image: url({{imgurl}})"></div>
            </a>
          <div class="card__info">
            <span class="card__category">Circuit</span>
            <h3 class="card__title">{{circuits[2*i+j]['name']}}</h3>
            <span class="card__category">Location</span>
            <h6 class="card__title">{{circuits[2*i+j]['location']}}, {{circuits[2*i+j]['country']}}</h6>
            <span class="card__category">Most Recent Race</span>
            <h6 class="card__title">{{circuits[2*i+j]['most_recent_race']}}</h6>
          </div>
          </article>
        {% endif %}
      {% endfor %}  
    </div>
  </div>
  {% endfor %}
  {% endif %}
  <div class="row justify-content-center mt-5">
    <nav>
      <ul class="pagination pg-blue">
        {% if page > 0 %}
        <li class="page-item">
          <a class="page-link" aria-label="Previous" href="{{url_for('circuit_model', page=page, search=query, filtered=filtered, sort=sort)}}">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        {% endif %}
        {% set skip = {'left': False, 'right': False} %}
        {% set rightskip = False %}
        {% for i in range(pages+1) %}
          {% if i == page %}
            <li class="page-item active"><a class="page-link" href="{{url_for('circuit_model', page=i+1, search=query, filtered=filtered, sort=sort)}}">{{i+1}}</a></li>
          {% elif i < page and i >= page - 2 %}
            <li class="page-item"><a class="page-link" href="{{url_for('circuit_model', page=i+1, search=query, filtered=filtered, sort=sort)}}">{{i+1}}</a></li>
          {% elif i > page and i <= page + 2 %}  
            <li class="page-item"><a class="page-link" href="{{url_for('circuit_model', page=i+1, search=query, filtered=filtered, sort=sort)}}">{{i+1}}</a></li>
          {% elif i == 0 or i==pages %}
            <li class="page-item"><a class="page-link" href="{{url_for('circuit_model', page=i+1, search=query, filtered=filtered, sort=sort)}}">{{i+1}}</a></li>
          {% else %}
            {% if i < page and skip.left == False %}
              {% if skip.update({'left': True}) %}{% endif %}
              ......
            {% elif i > page and skip.right == False %}
              {% if skip.update({'right': True}) %}{% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if page < pages %}
        <li class="page-item">
          <a class="page-link" aria-label="Next" href="{{url_for('circuit_model', page=page+2, search=query, filtered=filtered, sort=sort)}}">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endblock %}  
