{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/drivers.css')}}">
{% endblock %}

{% block body %}
<div class="container-lg mt-3 border">

<img src="{{ url_for('static', filename=img_path) }}"gs height="30%" width="30%">
<h1>{{ name }}</h1>
<h2>Driver Code: {{ code }}</h2>
<h2>Date of Birth: {{ dob }}</h2>
<h2>Nationality: {{ nation }}</h2>
<h2>Current Constructor: </h2>

<div class="row">
<h2>Former Constructors: </h2>
</div>
<div class="row">
<ul>
    <li>(WIP) need to download more team data for this section.</li>
    <li>Red Bull Racing</li>
    <li>Scuderia Toro Rosso</li>
</ul>
</div>
<div class="row">
<h2>Victories: </h2>
</div>
<div class="row">
<ul>
    <li>(WIP) need to download more driver and circuit data for this section.</li>
    <li>Barcelona</li>
    <li>Catalunya</li>
    <li>Hungaroring</li>
</ul>
</div>
</div>
{% endblock %}  