{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/instance.css')}}">
{% endblock %}

{% block body %}
<!--
  Requirements:
  - One page per model instance
  - Contains data
  - External Links
  - Embedded images
-->
<div class="container-lg mt-3 border: 0px">
    <h1 class="instance-header">{{ name }}</h1>
    <img src="{{ url_for('static', filename=img_path) }}" gs height="30%" width="30%">

    <div class="row">
        <div class="column">
            <span class="data-header">Nationality: &nbsp;</span>
            <span class="data-text">{{nation}}</span>
        </div>
    </div>
    <div class="row">
        <span class="data-subtext">{{bio}}}</span>
        <p class="data-subtext"><a href="{{ url }}">Read More</a></p>
    </div>
    <div class="row">
        <div class="column">
            <p class="data-header">Drivers </p>
            {% for driver in drivers %}
            <ul class="list-group">
                <li class="list-group-item data-subtext">{{driver['name']}}</li>
            </ul>
            {% endfor %}
            <p class="data-header">Circuits Won</p>
<!--
            {% for win in wins %}
            <ul class="list-group">
                <li class="list-group-item data-subtext">{{win['circuitName']}}</li>
            </ul>
-->
<!--            {% endfor %}-->
        </div>
    </div>
</div>
{% endblock %}
