{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/instance.css')}}">
{% endblock %}

{% block body %}
<!--
  Requirements:
  - One page per model instance
  - Contains data
  - External Links
  - Embedded images
-->
<div class="container-lg mt-3 border: 0px">
    <h1 class="instance-header">{{ name }}</h1>
    <img src="{{ url_for('static', filename=img_path) }}" gs height="30%" width="30%">

    <div class="row">
        <div class="column">
            <span class="data-subtext">{{bio}}</span>
            <p class="data-subtext"><a href="{{ url }}">Read More</a></p>
            <span class="data-header">Nationality:&nbsp;</span>
            <span class="data-text">{{nation}}</span>
        </div>

    </div>
    <div class="row">
        <div class="column">
            <span class="data-header">Current Drivers:&nbsp;</span>
            {% if drivers is defined and drivers %}
            <br>
            {% for driver in drivers %}
            <ul>
                <li class="data-text"><a href="{{ 'drivers?id='+driver['driverId'] | string }}">{{ driver['name'] }}</a></li>
            </ul>
            {% endfor %}
            {% else %}
            <span class="data-text">None</span>
            {% endif %}
            <p class="data-header">Circuits Won</p>
        </div>
    </div>
</div>
{% endblock %}
