{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/driver.css') }}">
{% endblock %}
{% block body %}
<div class= "container mt-4">
        <div class="row">
            <div class="col">
                <div>
                    <h1>Name</h1>
                    <p>Sebastian Vettel</p>
                    <h1>Date of Birth</h1>
                    <p>July 3, 1987</p>
                    <h1>Age</h1>
                    <p>33</p>
                    <h1>Team</h1>
                    <p>Ferrari</p>
                </div>
            </div>
            <div class="col">
                <div class="container-fluid">
                    <img src="{{ url_for('static', filename='images/sebastianvettel.jpg') }}" alt="Los Angeles" height="100%" width="100%">
                </div>
            </div>
        </div>
</div>
<div class="container mt-2 text-center">
    <div>
        <h1> Career Highlights</h1>
        <p> Various statistics about top finishes </p>
        <p>Most Points
        <p>best lap times</p>
        <p>top pole positions</p>
        <p>best finishes</p>
        <p>biggest margin of victory</p>
    </div>
</div>
<div class="container mt-2 mb-2 bg-secondary">
    <div class="text-center">
        <h1>Race Career Statistics</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Season</th>
                    <th scope="col">Series</th>
                    <th scope="col">Team</th>
                    <th scope="col">Races</th>
                    <th scope="col">Wins</th>
                    <th scope="col">Pole</th>
                    <th scope="col">F/Laps</th>
                    <th scope="col">Podiums</th>
                    <th scope="col">Points</th>
                    <th scope="col">Position</th>
                </tr>
            </thead>
            <tbody class="text-light">
                <tr>
                    <th scope="row">2001</th>
                    <td>Formula Renault UK Winter Series</td>
                    <td>Manor Motorsport</td>
                    <td>4</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>48</td>
                    <td>7th</td>
                </tr>
                <tr>
                    <th scope="row">2001</th>
                    <td>Formula Renault UK Winter Series</td>
                    <td>Manor Motorsport</td>
                    <td>4</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>48</td>
                    <td>7th</td>
                </tr>
                <tr>
                    <th scope="row">2001</th>
                    <td>Formula Renault UK Winter Series</td>
                    <td>Manor Motorsport</td>
                    <td>4</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>48</td>
                    <td>7th</td>
                </tr>
                <tr>
                    <th scope="row">2001</th>
                    <td>Formula Renault UK Winter Series</td>
                    <td>Manor Motorsport</td>
                    <td>4</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>48</td>
                    <td>7th</td>
                </tr>
                <tr>
                    <th scope="row">2001</th>
                    <td>Formula Renault UK Winter Series</td>
                    <td>Manor Motorsport</td>
                    <td>4</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>48</td>
                    <td>7th</td>
                </tr>
                <tr>
                    <th scope="row">2001</th>
                    <td>Formula Renault UK Winter Series</td>
                    <td>Manor Motorsport</td>
                    <td>4</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>48</td>
                    <td>7th</td>
                </tr>
                <tr>
                    <th scope="row">2001</th>
                    <td>Formula Renault UK Winter Series</td>
                    <td>Manor Motorsport</td>
                    <td>4</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>48</td>
                    <td>7th</td>
                </tr>
                <tr>
                    <th scope="row">2001</th>
                    <td>Formula Renault UK Winter Series</td>
                    <td>Manor Motorsport</td>
                    <td>4</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>48</td>
                    <td>7th</td>
                </tr>
                <tr>
                    <th scope="row">2001</th>
                    <td>Formula Renault UK Winter Series</td>
                    <td>Manor Motorsport</td>
                    <td>4</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>48</td>
                    <td>7th</td>
                </tr>
                <tr>
                    <th scope="row">2001</th>
                    <td>Formula Renault UK Winter Series</td>
                    <td>Manor Motorsport</td>
                    <td>4</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>48</td>
                    <td>7th</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}  