
{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/drivers-model.css')}}">
{% endblock %}

{% block body %}
<!--
    Requirements:
    - Overview of each model
    - Grid of instances
    - grid instances require:
        - image
        - 3 or more attributes
        - link to the instance page
        - 9 instances per page
        - allows for searching, sorting, and filtering
-->
<div class="container my-5">
  {% if drivers %}
  {% set index = 0 %}
  {% for i in range((drivers|length)|int) %}
  <div class="row justify-content-center">
    <div class="cards">
        {% if drivers|length > 4*i %}
          {% set link = 'drivers?id='+drivers[4*i]['driverId'] %}
          {% set imgpath = drivers[4*i]['driverId'] + '.jpg' %}
          {% set imgurl = url_for('static', filename='images/'+imgpath) %}
          {% set name = drivers[4*i]['givenName'] + " " + drivers[4*i]['familyName'] %}
          <!--Card template from https://codepen.io/veronicadev/pen/WJyOwG-->
          <article class="card">
          <div class="card__img" style="background-image: url({{imgurl}})"></div>
          <a href={{link}} class="card_link">
            <div class="card__img--hover" style="background-image: url({{imgurl}})"></div>
          </a>
          <div class="card__info">
            <span class="card__category"> Driver</span>
            <h3 class="card__title">{{ name }}</h3>
          </div>
          </article>
        {% endif %}
        {% if drivers|length > 4*i+1%}
          {% set link = 'drivers?id='+drivers[4*i+1]['driverId'] %}
          {% set imgpath = drivers[4*i+1]['driverId'] + '.jpg' %}
          {% set imgurl = url_for('static', filename='images/'+imgpath) %}
          {% set name = drivers[4*i+1]['givenName'] + " " + drivers[4*i+1]['familyName'] %}
          <!--Card template from https://codepen.io/veronicadev/pen/WJyOwG-->
          <article class="card">
            <div class="card__img" style="background-image: url({{imgurl}})"></div>
            <a href={{link}} class="card_link">
            <div class="card__img--hover" style="background-image: url({{imgurl}})"></div>
            </a>
            <div class="card__info">
            <span class="card__category"> Driver</span>
            <h3 class="card__title">{{ name }}</h3>
            </div>
          </article>
        {% endif %}
        {% if drivers|length > 4*i+2 %}
          {% set link = 'drivers?id='+drivers[4*i+2]['driverId'] %}
          {% set imgpath = drivers[4*i+2]['driverId'] + '.jpg' %}
          {% set imgurl = url_for('static', filename='images/'+imgpath) %}
          {% set name = drivers[4*i+2]['givenName'] + " " + drivers[4*i+2]['familyName'] %}
          <!--Card template from https://codepen.io/veronicadev/pen/WJyOwG-->
          <article class="card">
            <div class="card__img" style="background-image: url({{imgurl}})"></div>
            <a href={{link}} class="card_link">
            <div class="card__img--hover" style="background-image: url({{imgurl}})"></div>
            </a>
            <div class="card__info">
            <span class="card__category"> Driver</span>
            <h3 class="card__title">{{ name }}</h3>
            </div>
          </article>
        {% endif %}
        {% if drivers|length > 4*i+3 %}
          {% set link = 'drivers?id='+drivers[4*i+3]['driverId'] %}
          {% set imgpath = drivers[4*i+3]['driverId'] + '.jpg' %}
          {% set imgurl = url_for('static', filename='images/'+imgpath) %}
          {% set name = drivers[4*i+3]['givenName'] + " " + drivers[4*i+3]['familyName'] %}
          <!--Card template from https://codepen.io/veronicadev/pen/WJyOwG-->
          <article class="card">
            <div class="card__img" style="background-image: url({{imgurl}})"></div>
            <a href={{link}} class="card_link">
            <div class="card__img--hover" style="background-image: url({{imgurl}})"></div>
            </a>
            <div class="card__info">
            <span class="card__category"> Driver</span>
            <h3 class="card__title">{{ name }}</h3>
            </div>
          </article>
        {% endif %}
        </div>
  </div>
  {% endfor %}
  {% endif %}
  <div class="row justify-content-center">
    <nav>
      <ul class="pagination pg-blue">
        <li class="page-item">
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        {% for i in range(pages+1) %}
          {% if i == page %}
            <li class="page-item active"><a class="page-link" href="{{url_for('driver_model', page=i+1)}}">{{i+1}}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="{{url_for('driver_model', page=i+1)}}">{{i+1}}</a></li>
          {% endif %}
        {% endfor %}
        <li class="page-item">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
{% endblock %}  