{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/instance.css')}}">
{% endblock %}

{% block body %}
<!--
  Requirements:
  - One page per model instance
  - Contains data
  - External Links
  - Embedded images
-->

<!--
  Will include:
    -driver name
    -driver image
    -driver code
    -date of birth
    -nationality
    -current constructor/retired
    -former constructors (scrolling viewbox)
    -former victories (paginate and search)
-->
<div class="container-lg mt-3 border: 0px">

    <h1 class="instance-header">{{ name }}</h1>
    <img src="{{ url_for('static', filename=img_path) }}" gs height="30%" width="30%">

    <p class="data-header">Date of Birth:&nbsp;</p>
    <p class="data-text">{{ dob }}</p>
    <p class="data-header">Nationality:&nbsp;</p>
    <p class="data-text">{{ nation }}</p>
    <p class="data-header">Number:&nbsp;</p>
    <p class="data-text">{{ number }}</p>

    <div class="row">
        <h2>Former Constructors: </h2>
    </div>
    <div class="row">
        <ul>
            <li>(WIP) need to download more team data for this section.</li>
            <li>Red Bull Racing</li>
            <li>Scuderia Toro Rosso</li>
        </ul>
    </div>
    <div class="row">
        <h2>First Place Finishes: </h2>
    </div>
    <div class="row">
        <ul>
            <li>(WIP) need to download more driver and circuit data for this section.</li>
            <li>Barcelona</li>
            <li>Catalunya</li>
            <li>Hungaroring</li>
        </ul>
    </div>
</div>
{% endblock %}
