{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<!--
    Requirements:
    - Picture Carousel
    - Beautfil and visually appealing
    - Contains means of navigating among pages
    WIP:
    - Funny statistis
    - Live race feed if possible
    - What it does
    - When the next grand Pri is
    - how to navigate
    - 1s/2nd/3rd plae winners
    - fatest lap
    - winning team
    - champion in the lead
    
-->
    <div class="jumbotron text-center mb-0">
        <h1>Formula 1 DB</h1>
        <p>The number 1 source for formula 1 information</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <h1 class="text-center"> </h1>
                </div>
                <div class="row">
                    <div class="container-fluid">
                        <h1 class="text-center">Upcoming Races</h1>
                    </div>
                    <div class="container text-center">
                        <p> British Grand Prix</p>
                        <p> Monacoa Grand Prix</p>
                        <p> Austin Grand Prix</p>
                    </div>
                </div>
                <div>
                    <h1 class="text-center">Season Statistics</h1>
                    <p class="text-center"> Mclaren hasn't won a race since 2007</p>
                </div>
                <div>
                    <h1 class="text-center">Trophy Club</h1>
                    <p class="text-center"> Alexander Hamilton won the last race</p>
                </div>
                <div>
                    <h1 class="text-center">Funny Statistics</h1>
                    <p class="text-center"> Mclaren hasn't won a race since 2007</p>
                </div>
            </div>
            <div class="col-4">
                <div class="container mb-3">
      
                    <h2 class="text-center mt-3">Today in history</h2>
                    <div id="historyCarousel" class="carousel slide" data-ride="carousel">
                    
                      <!-- Indicators -->
                      <ul class="carousel-indicators">
                        <li data-target="#historyCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#historyCarousel" data-slide-to="1"></li>
                        <li data-target="#historyCarousel" data-slide-to="2"></li>
                      </ul>
                      
                      <!-- The slideshow -->
                      <div class="carousel-inner">
                        <div class="carousel-item active text-center">
                          <img src="{{ url_for('static', filename='images/home/lewishamilton.png') }}" alt="Los Angeles" height="70%" width="70%">
                        </div>
                        <div class="carousel-item text-center">
                          <img src="{{ url_for('static', filename='images/home/maxverstappen.png') }}" alt="Los Angeles" height="70%" width="70%">
                        </div>
                        <div class="carousel-item text-center">
                          <img src="{{ url_for('static', filename='images/home/monzaCircuit.png') }}" alt="Los Angeles" height="70%" width="70%">
                        </div>
                        <div class="carousel-item text-center">
                          <img src="{{ url_for('static', filename='images/home/BritishGrandPrix.png') }}" alt="Los Angeles" height="70%" width="70%">
                        </div>
                      </div>
                      <div>
                          <!-- Left and right controls -->
                          <a class="carousel-control-prev" href="#historyCarousel" data-slide="prev">
                              <span class="carousel-control-prev-icon bg-dark"></span>
                          </a>
                          <a class="carousel-control-next" href="#historyCarousel" data-slide="next">
                              <span class="carousel-control-next-icon bg-dark"></span>
                          </a>
                      </div>
                    </div>
                    
                </div>
                <div class="container mb-3">

                    <h2 class="text-center">Popular Drivers</h2>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    
                      <!-- Indicators -->
                      <ul class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                      </ul>
                      
                      <!-- The slideshow -->
                      <div class="carousel-inner">
                        <div class="carousel-item active text-center">
                          <img src="{{ url_for('static', filename='images/home/lewishamilton.png') }}" alt="Los Angeles" height="70%" width="70%">
                        </div>
                        <div class="carousel-item text-center">
                          <img src="{{ url_for('static', filename='images/home/maxverstappen.png') }}" alt="Los Angeles" height="70%" width="70%">
                        </div>
                        <div class="carousel-item text-center">
                          <img src="{{ url_for('static', filename='images/home/sebastianvettel.png') }}" alt="Los Angeles" height="70%" width="70%">
                        </div>
                        <div class="carousel-item text-center">
                          <img src="{{ url_for('static', filename='images/home/valtteribottas.png') }}" alt="Los Angeles" height="70%" width="70%"">
                        </div>
                      </div>
                      <div>
                          <!-- Left and right controls -->
                          <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                              <span class="carousel-control-prev-icon bg-dark"></span>
                          </a>
                          <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                              <span class="carousel-control-next-icon bg-dark"></span>
                          </a>
                      </div>
                    </div>
                    
                </div>
                <div class="container mb-3">
      
                    <h2 class="text-center mt-3">Popular Circuits</h2>
                    <div id="circuitCarousel" class="carousel slide" data-ride="carousel">
                    
                      <!-- Indicators -->
                      <ul class="carousel-indicators">
                        <li data-target="#circuitCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#circuitCarousel" data-slide-to="1"></li>
                        <li data-target="#circuitCarousel" data-slide-to="2"></li>
                      </ul>
                      
                      <!-- The slideshow -->
                      <div class="carousel-inner">
                        <div class="carousel-item active text-center">
                          <img src="{{ url_for('static', filename='images/home/BritishGrandPrix.png') }}" alt="Los Angeles" height="70%" width="70%">
                        </div>
                        <div class="carousel-item text-center">
                          <img src="{{ url_for('static', filename='images/home/monzaCircuit.png') }}" alt="Los Angeles" height="70%" width="70%">
                        </div>
                        <div class="carousel-item text-center">
                          <img src="{{ url_for('static', filename='images/home/nurburgringGrandPrix.png') }}" alt="Los Angeles" height="70%" width="70%"">
                        </div>
                      </div>
                      <div>
                          <!-- Left and right controls -->
                          <a class="carousel-control-prev" href="#circuitCarousel" data-slide="prev">
                              <span class="carousel-control-prev-icon bg-dark"></span>
                          </a>
                          <a class="carousel-control-next" href="#circuitCarousel" data-slide="next">
                              <span class="carousel-control-next-icon bg-dark"></span>
                          </a>
                      </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    </body>
  {% endblock %}  
