{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
{% endblock %}
{% block body %}
<!--
    Requirements:
    - Picture Carousel
    - Beautfil and visually appealing
    - Contains means of navigating among pages
    WIP:
    - Funny statistis
    - Live race feed if possible
    - What it does
    - When the next grand Pri is
    - how to navigate
    - 1s/2nd/3rd plae winners
    - fatest lap
    - winning team
    - champion in the lead
    
-->
<div class="jumbotron text-center mb-0">
    <h1>Formula 1 DB</h1>
    <p class="data-subtext">The number 1 source for Formula 1 information</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <h1 class="text-center"> </h1>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <p class="data-header text-center">Upcoming Races in {{ year }}</p>
                </div>
                {% if recentRaces is defined and recentRaces %}
                <div class="container text-center">
                    {% for race in recentRaces %}
                    <p class="data-subtext"> {{ race['name'] }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="container-fluid">
                    <p class="data-header text-center">Driver {{ year }} Season standings</p>
                </div>
                {% if driverSeasonStandings is defined and driverSeasonStandings %}
                <div class="container text-center">
                    {% for driver in driverSeasonStandings %}
                    <p class="data-subtext"><a href="{{ 'drivers?id='+driver[2] | string }}">{{ driver[0]}} {{ driver[1] }}</a></p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="container-fluid">
                    <p class="data-header text-center">Constructor {{ year }} Season Standings</p>
                </div>
                {% if constructorSeasonStandings is defined and constructorSeasonStandings %}
                <div class="container text-center">
                    {% for constructor in constructorSeasonStandings %}
                    <p class="data-subtext"><a href="{{ 'constructors?id='+constructor[2] | string }}">{{ constructor[0] }} {{ constructor[1] }}</a></p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-4">
            <div class="container mb-3">
                <span class="data-header text-center mt-3">Drivers Born in &nbsp;</span>
                <span class="data-header">{{ monthName }}</span>
                {% if monthDrivers %}
                <div id="monthCarousel" class="carousel slide" data-ride="carousel">
                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        {% for driver in monthDrivers %}
                        {% if loop.index == 1%}
                        <div class="carousel-item active text-center">
                            <a href="{{ 'drivers?id='+driver['id'] | string }}">
                                <img src="{{ url_for('static' , filename = driver['image_path']) }}" href="/drivers?id={{driver['driverId']}}">
                                <p class="data-subtext">{{driver['name']}}</p>
                            </a>
                        </div>
                        {% else %}
                        <div class="carousel-item text-center">
                            <a href="{{ 'drivers?id='+driver['id'] | string }}">
                                <img src="{{ url_for('static' , filename = driver['image_path']) }}" href="/drivers?id={{driver['driverId']}}">
                                <p class="data-subtext">{{driver['name']}}</p>
                            </a>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div>
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#monthCarousel" data-slide="prev">
                                <span class="carousel-control-prev-icon bg-dark"></span>
                            </a>
                            <a class="carousel-control-next" href="#monthCarousel" data-slide="next">
                                <span class="carousel-control-next-icon bg-dark"></span>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="container mb-3">

                    <p class="data-header text-center mt-3">Popular Drivers</p>
                    {% if popularDrivers %}
                    <div id="popularDriverCarousel" class="carousel slide" data-ride="carousel">
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            {% for driver in popularDrivers %}
                            {% if loop.index == 1%}
                            <div class="carousel-item active text-center">
                                <a href="{{ 'drivers?id='+driver['id'] | string }}">
                                    <img src="{{ url_for('static' , filename = driver['image_path']) }}" href="/drivers?id={{driver['driverId']}}">
                                    <p class="data-subtext">{{driver['name']}}</p>
                                </a>
                            </div>
                            {% else %}
                            <div class="carousel-item text-center">
                                <a href="{{ 'drivers?id='+driver['id'] | string }}">
                                    <img src="{{ url_for('static' , filename = driver['image_path']) }}" href="/drivers?id={{driver['driverId']}}">
                                    <p class="data-subtext">{{driver['name']}}</p>
                                </a>
                            </div>
                            {% endif %}
                            {% endfor %}
                            <div>
                                <!-- Left and right controls -->
                                <a class="carousel-control-prev" href="#popularDriverCarousel" data-slide="prev">
                                    <span class="carousel-control-prev-icon bg-dark"></span>
                                </a>
                                <a class="carousel-control-next" href="#popularDriverCarousel" data-slide="next">
                                    <span class="carousel-control-next-icon bg-dark"></span>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="container mb-3">
                        {% if popularCircuits %}
                        <p class="data-header text-center mt-3">Popular Circuits</p>

                        <div id="historyCarousel" class="carousel slide" data-ride="carousel">
                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                {% for circuit in popularCircuits %}
                                {% if loop.index == 1%}
                                <div class="carousel-item active text-center">
                                    <a href="{{ 'circuits?id='+circuit['id'] | string }}">
                                        <img src="{{ url_for('static' , filename = circuit['image_path']) }}" href="/circuits?id={{circuit['circuitId']}}">
                                        <p class="data-subtext">{{circuit['name']}}</p>
                                    </a>
                                </div>
                                {% else %}
                                <div class="carousel-item text-center">
                                    <a href="{{ 'circuits?id='+circuit['id'] | string }}">
                                        <img src="{{ url_for('static' , filename = circuit['image_path']) }}" href="/circuits?id={{circuit['circuitId']}}">
                                        <p class="data-subtext">{{circuit['name']}}</p>
                                    </a>
                                </div>
                                {% endif %}
                                {% endfor %}
                                <div>
                                    <!-- Left and right controls -->
                                    <a class="carousel-control-prev" href="#historyCarousel" data-slide="prev">
                                        <span class="carousel-control-prev-icon bg-dark"></span>
                                    </a>
                                    <a class="carousel-control-next" href="#historyCarousel" data-slide="next">
                                        <span class="carousel-control-next-icon bg-dark"></span>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
